.choresText {
  color: rgb(209, 61, 61);
  font-size: 1.3vw;
  text-align: left;
  font-family: "Lucida Grande";
  font-style: italic;
}

.choresHeading {
  color: rgb(128, 51, 51);
  text-align: left;
  font-family: "Trebuchet MS";
  text-decoration: underline;
  border-color: hotpink;
  border-style: dotted;
  width: 200px;
}
