.movieText {
  color: rgb(12, 177, 12);
  text-align: left;
  font-size: 1.3vw;
  background-color: rgb(246, 202, 209);
  width: 200px;
}

.movieHeading {
  color: rgb(84, 104, 63);
  text-align: left;
}
